<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment = "breadcrumb(path)">
        <nav style="--bs-breadcrumb-divider: '>';" class="mt-3" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-black" th:href="@{/home}">Home</a></li>
                <li class="breadcrumb-item" aria-current="page"><a class="text-decoration-underline" href="" th:text="${path}"></a></li>
            </ol>
        </nav>
    </div>
</body>
</html>