<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div class="sale-right" th:fragment="carousel">
        <div class="slider">
            <div class="sale-element position-relative">
                <a href="#" class="sale-icon sale-mouse"></a>
                <div class="sale-text">Logitech G502 Gaming Mouse</div>
                <div class="sale-last-price">
                    <del>$38.00</del>
                </div>
                <div class="sale-new-price">$19.00</div>
            </div>
            <div class="sale-element position-relative">
                <a href="#" class="sale-icon sale-keyboard"></a>
                <div class="sale-text">NPET K10 Wired Gaming Keyboard, LED Backlit, Spill-Resistant Design</div>
                <div class="sale-last-price">
                    <del>$49.00</del>
                </div>
                <div class="sale-new-price">$34.30</div>
            </div>

            <div class="sale-element position-relative">
                <a href="#" class="sale-icon sale-watch"></a>
                <div class="sale-text">Apple Watch Series 7 (GPS, 41MM)</div>
                <div class="sale-last-price">
                    <del>$289.00</del>
                </div>
                <div class="sale-new-price">$231.20</div>
            </div>

            <div class="sale-element position-relative">
                <a href="#" class="sale-icon sale-laptop"></a>
                <div class="sale-text">Apple 2022 MacBook Air M2 Chip (8GB RAM, 256GB SSD)</div>
                <div class="sale-last-price">
                    <del>$950.22</del>
                </div>
                <div class="sale-new-price">$712.66</div>
            </div>

            <div class="sale-element position-relative">
                <a href="#" class="sale-icon sale-laptop"></a>
                <div class="sale-text">Apple 2022 MacBook Air M2 Chip (8GB RAM, 256GB SSD)</div>
                <div class="sale-last-price">
                    <del>$950.22</del>
                </div>
                <div class="sale-new-price">$712.66</div>
            </div>
        </div>
        <div class="slider-btns">
            <button class="far fa-chevron-left prev"></button>
            <button class="far fa-chevron-right next"></button>
        </div>
    </div>

</body>
</html>