<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
  <div th:fragment="footer" class="footer mt-80px">
    <div class="main-footer">
        <div class="footer-element">
            <ul class="footer-company">
                <li><strong class="footer-title">Company</strong></li>
                <li><a href="#" class="footer-link">about us</a></li>
                <li><a href="#" class="footer-link">blog</a></li>
                <li><a href="#" class="footer-link">returns</a></li>
                <li><a href="#" class="footer-link">order status</a></li>
            </ul>
        </div>
        <div class="footer-element">
            <ul class="footer-info">
                <li><strong class="footer-title">info</strong></li>
                <li><a href="#" class="footer-link">How it works?</a></li>
                <li><a href="#" class="footer-link">our promises</a></li>
                <li><a href="#" class="footer-link">FAQ</a></li>
            </ul>
        </div>
        <div class="footer-element">
            <ul class="footer-contacts">
                <li><strong class="footer-title">Contact us</strong></li>
                <li><a href="#" class="footer-link footer-link-contacts"><span class="footer-icon footer-location"></span>123 Main Street, Anytown, USA</a></li>
                <li><a href="#" class="footer-link footer-link-contacts"><span class="footer-icon footer-cal"></span>+ 1 (555) 123-4567</a></li>
                <li><a href="#" class="footer-link footer-link-contacts"><span class="footer-icon footer-email"></span>TechHeimSupport@gmail.com</a></li>
            </ul>
        </div>
        <div class="footer-element">
            <ul class="footer-updates position-relative">
                <a href="#" class="back-to-top"></a>
                <li><strong class="footer-title">Sign up for News and updates</strong></li>
                <li class="footer-updates-form">
                    <form action="#" class="footer-form">
                        <span class="footer-form-user"></span>
                        <input type="email" name="email" id="email" placeholder="E-mail Address" class="footer-input">
                        <button class="footer-form-btn" type="submit"></button>
                    </form>
                </li>
                <li class="footer-updates-social">
                    <a href="#" class="social-icon facebook"></a>
                    <a href="#" class="social-icon twitter"></a>
                    <a href="#" class="social-icon instagram"></a>
                    <a href="#" class="social-icon youtube"></a>
                </li>
            </ul>
        </div>
        <a href="#" class="questions"></a>
    </div>
    <div class="policy"></div>
  </div>
</body>
</html>