<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:fragment="header">
        <div class="header-main">
            <div class="header-main-left">
                <h1 class="main-title">Tech Heim</h1>
                <p class="main-desc">"Join the <span class="orange" style="color:#F45E0C;">digital revolution</span>"</p>
                <a href="#" class="explore-btn">Explore More</a>
            </div>
            <div class="header-main-right"></div>
        </div>

        <div class="recommendations">
            <div class="r-element">
                <a href="#" class="r-icon r-accessories"></a>
                <div class="r-text">Accessories</div>
            </div>

            <div class="r-element">
                <a href="#" class="r-icon r-camera"></a>
                <div class="r-text">Camera</div>
            </div>

            <div class="r-element">
                <a href="#" class="r-icon r-laptop"></a>
                <div class="r-text">Laptop</div>
            </div>

            <div class="r-element">
                <a href="#" class="r-icon r-phone"></a>
                <div class="r-text">Smart Phone</div>
            </div>

            <div class="r-element">
                <a href="#" class="r-icon r-gaming"></a>
                <div class="r-text">Gaming</div>
            </div>

            <div class="r-element">
                <a href="#" class="r-icon r-watch"></a>
                <div class="r-text">Smart watch</div>
            </div>
        </div>

        <div class="on-sale">
            <div class="sale-left">
                <h3 class="sale-left-title">Products On Sale</h3>
                <h6 class="sale-left-desc">Shop Now!</h6>
                <a href="#" class="sale-left-link">view all <span></span></a>
            </div>

            <div class="sale-right position-relative">

                            <div class="sale-element position-relative">
                                <a href="#" class="sale-icon sale-mouse"></a>
                                <div class="sale-text">Logitech G502 Gaming Mouse</div>
                                <div class="sale-last-price"><del>$38.00</del></div>
                                <div class="sale-new-price">$19.00</div>
                            </div>
                            <div class="sale-element position-relative">
                                <a href="#" class="sale-icon sale-keyboard"></a>
                                <div class="sale-text">NPET K10 Wired Gaming Keyboard, LED Backlit, Spill-Resistant Design</div>
                                <div class="sale-last-price"><del>$49.00</del></div>
                                <div class="sale-new-price">$34.30</div>
                            </div>

                            <div class="sale-element position-relative">
                                <a href="#" class="sale-icon sale-watch"></a>
                                <div class="sale-text">Apple Watch Series 7 (GPS, 41MM)</div>
                                <div class="sale-last-price"><del>$289.00</del></div>
                                <div class="sale-new-price">$231.20</div>
                            </div>

                            <div class="sale-element position-relative">
                                <a href="#" class="sale-icon sale-laptop"></a>
                                <div class="sale-text">Apple 2022 MacBook Air M2 Chip (8GB RAM, 256GB SSD)</div>
                                <div class="sale-last-price"><del>$950.22</del></div>
                                <div class="sale-new-price">$712.66</div>
                            </div>
                     </div>
            </div>
    </header>

    <section th:fragment="new-products" class="section-product">
        <div class="position-relative p-header">
            <h2 class="p-title">New Products</h2>
            <a href="#" class="p-link">View all <span></span></a>
        </div>
        <hr style="border: 1px solid #B4B4B4">
        <div class="new-products">
            <div class="p-element position-relative">
                <div class="p-icon p-phone"></div>
                <span class="icon-line"></span>
                <p class="p-text">Iphone 14 promax 256 gig</p>
                <div class="p-last-price"><del>$930.90</del></div>
                <div class="p-reviews"><span class="star"></span>4.5</div>
            </div>

            <div class="p-element position-relative">
                <div class="p-icon p-laptop"></div>
                <span class="icon-line"></span>
                <p class="p-text">Blackmagic Design Pocket Cinema Camera 6K Pro (Canon EF)</p>
                <div class="p-last-price"><del>$2535.00</del></div>
                <div class="p-reviews"><span class="star"></span>4.8</div>
            </div>

            <div class="p-element position-relative">
                <div class="p-icon p-phone2"></div>
                <span class="icon-line"></span>
                <p class="p-text">SAMSUNG Galaxy S23 Ultra Cell Phone,256 GB</p>
                <div class="p-last-price"><del>$1018.90</del></div>
                <div class="p-reviews"><span class="star"></span>4.7</div>
            </div>

            <div class="p-element position-relative">
                <div class="p-icon p-vr"></div>
                <span class="icon-line"></span>
                <a href="#" class="p-text">VR VisionTech X1</a>
                <div class="p-last-price"><del>$1399.00</del></div>
                <div class="p-reviews"><span class="star"></span>3.9</div>
            </div>
        </div>
    </section>
</body>
</html>