a{
    text-decoration: none;
}

li{
    list-style: none;
}

.mt-80px{
    margin-top: 80px;
}


.explore-btn{
    background-color: #F45E0C;
    color: #fff;
    padding: 10px 50px;
    border: 1px solid #F45E0C;
    border-radius: 10px;
}
.explore-btn:hover{
    background-color: #fff;
    color: #F45E0C;
}



.header-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-main-left{
    margin-right: 80px;
}

.header-main-right{
    display: inline-block;
    background-image: url("/images/main/header/header-laptop.svg");
    background-position: center;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 728px;
    height: 443px;
}

.main-title{
    font-size: 64px;
}

.main-desc{
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 110px;
}

.recommendations{
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.r-element{
    padding: 8px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 10px 10px 10px #7171711F;
    border-radius: 8px;
    background-color: #fff;
}

.r-icon{
    margin-bottom: 20px;
    display: block;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 148px;
    height: 148px;
}

.r-accessories{
    background-image: url("/images/main/header/recommendations/r-accessories.svg");
}

.r-camera{
    background-image: url("/images/main/header/recommendations/r-camera.svg");
}

.r-laptop{
    background-image: url("/images/main/header/recommendations/r-laptop.svg");
}

.r-phone{
    background-image: url("/images/main/header/recommendations/r-phone.svg");
}

.r-gaming{
    background-image: url("/images/main/header/recommendations/r-gaming.svg");
}

.r-watch{
    background-image: url("/images/main/header/recommendations/r-watch.svg");
}


.on-sale{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding: 44px;
    background-color: #063A88;
}

.on-sale:before{
    display: inline-block;
    position: absolute;
    content: '';
    background-image: url("/images/main/header/sale/on-sale-img.svg");
    width: 500px;
    height: 435px;
    background-repeat: no-repeat;
    left: 0px;
    top: 0px;

}


.sale-left{
    margin-right: 90px;
}


.sale-left-title{
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}

.sale-left-desc
{
    font-size: 20px;
    color: #fff;
    margin-bottom: 90px;
    font-weight: 300;
    margin-left: 40px;
}

.sale-left-link{
    color: #fff;
    margin-right: 2px;
    position: relative;
    margin-left: 50px;
    font-weight: 300;
}

.sale-left-link span{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("/images/arrow.svg");
    background-position: center;
    position: absolute;
    top: 1px;
}

.sale-right, .default-card{
    display: flex;
    align-items: center;
}

.sale-element, .default-card-el{
    padding: 8px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-color: #fff;
    margin-right: 30px;
    max-height: 240px;
    max-width: 190px;
}

.sale-icon{
    display: block;
    width: 168px;
    height: 146px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 12px;
}

.sale-mouse{
    background-image: url("/images/main/header/sale/sale-mouse.svg");
}

.sale-last-price, .default-card-last-price{
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.sale-new-price, .default-card-reviews{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.sale-text{
    max-width: 180px;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 50px;
    line-height: 14px;
}

.sale-keyboard{
    background-image: url("/images/main/header/sale/sale-keyboard.svg ");
}

.sale-watch{
    background-image: url("/images/main/header/sale/sale-watch.svg");
}

.sale-laptop{
    background-image: url("/images/main/header/sale/sale-laptop.svg");
}



.section-product{
    margin-top: 100px;
}

.section-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: 32px;
}

.view-all{
    color: #0c0c0c;
    position: relative;
}

.view-all:hover{
    color: #0C68F4;
}

.view-all span {
    display: inline-block;
    margin-left: 3px;
    background-image: url("/images/main/new-products/arrow-black.svg");
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-position: center;
    position: absolute;
    bottom: -2px;
}



.default-card{
    margin-top: 50px;
}

.default-card-el{
    box-shadow: 0px 1px 7px 1px #c5c5c5;
    min-height: 350px;
    min-width: 290px;
    align-items: center;
    padding: 5px 15px;
}


.default-card-icon{
    display: block;
    width: 256px;
    height: 190px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 16px;
}

.p-phone{
    background-image: url("/images/main/new-products/p-phone.svg");
}

.p-laptop{
    background-image: url("/images/main/new-products/p-laptop.svg");
}

.p-phone2{
    background-image: url("/images/main/new-products/p-phone2.svg");
}

.p-vr{
    background-image: url("/images/main/new-products/p-VR.svg");
}

.icon-line{
    display: block;
    background-image: url("/images/main/new-products/line.svg");
    width: 256px;
    height: 2px;
    background-color: transparent;
    margin-bottom: 20px;
}


.default-card-text{
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    max-width: 260px;
    line-height: 21px;
    color: #0c0c0c;
}

.default-card-text:hover{
    color: #0C68F4;
}

.default-card-reviews{
    color: #063A88;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.star{
    display: inline-block;
    background-image: url("/images/main/new-products/star.svg");
    width: 18px;
    height: 18px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 5px;
    margin-bottom: 2px;
}

.banner{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-el{
    padding: 24px;
    max-width: 760px;
    border-radius: 8px;
}

.banner-el-left {
    background: linear-gradient(140deg, #1975B9, #1FB6CF, #B0E9C9);
    display: flex;
    align-items: center;
    max-height: 420px;
}

.left-el1{
    margin-right: 35px;
}

.banner-img{
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/images/main/new-products/banner-img.svg");
    display: inline-block;
    width: 378px;
    height: 282px;
    margin-top: 60px;
}

.banner-days{
    display: flex;
    align-items: center;
}

.days-el{
    padding: 4px;
    text-align: center;
    border: 1px solid #0c0c0c;
    border-radius: 7px;
}

.days-el div{
    font-weight: 500;
}

.days-el:not(:last-child){
    margin-right: 16px;
}

.banner-desc{
    font-size: 16px;
    color: #2d2d2d;
    font-weight: 400;
    margin: 10px 0 25px 10px;
}

.banner-register{
    margin-left: 25px;
}

.banner-el-right{
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/images/main/new-products/banner-right.svg");
    display: inline-block;
    min-width: 444px;
    height: 420px;
    margin-left: 24px;
    padding: 32px 20px;
}

.b-el-r-title{
    color: #FCC870;
    font-size: 24px;
    margin-bottom: 100px;
    text-align: center;
}

.ps5{
    display: flex;
    align-items: center;
}

.ps5-img{
    display: inline-block;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/images/main/new-products/banner-ps5.svg");
    width: 210px;
    height: 169px;
}

.ps5-text{
    color: #063A88;
    font-size: 20px;
    font-weight: 600;
}

.b-el-r-link, .banner-register{
    font-size: 16px;
    margin-left: 30px;
    padding: 10px 25px;
}

.best-sellers{
    margin-top: 80px;
}

.sellers-headphone{
    background-image: url("/images/main/best-sellers/headphone.svg");
}

.sellers-ps4{
    background-image: url("/images/main/best-sellers/ps4.svg");
}

.sellers-laptop{
    background-image: url("/images/main/best-sellers/laptop.svg");
}

.sellers-airpods{
    background-image: url("/images/main/best-sellers/airpods.svg");
}

.sellers-last-price{
    font-size: 14px;
    margin-bottom: 15px;
}

.sellers-new-price{
    position: absolute;
    font-size: 17px;
    bottom: 0px;
    left: 4px;
}

            /*Section Top Brands*/
.brands{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand-icon, .watch-banner{
    display: inline-block;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 20px;
    width: 50px;
    height: 155px;
}

.apple{
    background-image: url("/images/main/top-brands/apple.svg");
}

.sony{
    background-image: url("/images/main/top-brands/sony.svg");
    width: 200px;
}
.samsung{
    background-image: url("/images/main/top-brands/samsung.svg");
    width: 214px;
}
.canon{
    background-image: url("/images/main/top-brands/canon.svg");
    width: 175px;
}

.huawei{
    background-image: url("/images/main/top-brands/huawei.svg");
    width: 90px;
}

.lenovo{
    background-image: url("/images/main/top-brands/lenovo.svg");
    width: 152px;
}

.watch-banner{
    background-image: url("/images/main/top-brands/banner.svg");
    width: 100%;
    height: 420px;
    border-radius: 0;
    position: relative;
}

.watch-banner div{
    position: absolute;
    top: 150px;
    left: 100px;
}

.watch-banner-title{
    color: #fff;
    font-size: 44px;
}

.watch-banner-text{
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 35px;
}
.watch-banner-link{
    color: #0c0c0c;
    margin-left: 100px;
}




