<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User information</title>
    <div th:replace="~{fragments/links::css}"></div>
    <link rel="stylesheet" href="/css/personal-data.css">
</head>
<body>
    <div class="container">
        <div th:replace="~{fragments/navbar::navbar}"></div>
        <div th:replace="~{fragments/breadcrumb::breadcrumb('Personal data')}"></div>
        <div th:replace="~{fragments/modal-userInfo::modal_username}"></div>
        <div th:replace="~{fragments/modal-userInfo::modal_email}"></div>

        <div class="section-main">
            <div class="panel-nav" id="scroll-spy">
                <div class="user-head" th:if="${user != null}">
                    <span class="user-icon"></span>
                    <h3 class="name" th:text="${user.username}"></h3>
                </div>
                <div class="scroll-element personal-data">
                    <span class="panel-icon personal-data-icon panel-icon-active"></span>
                    <a href="#personal-data" onclick="showView('personal', 'personal-data', 'personal-data-icon')" id="personal" class="panel-btn personal-data-btn">Personal Data</a>
                </div>
                <div class="scroll-element payments">
                    <span class="panel-icon payment-icon"></span>
                    <a href="#payments" onclick="showView('payment', 'payments', 'payment-icon')" id="payment" class="panel-btn payments-btn">Payment & Instalments</a>
                </div>
                <div class="scroll-element orders">
                    <span class="panel-icon order-icon"></span>
                    <a href="" class="panel-btn orders-btn">Orders</a>
                </div>
                <div class="scroll-element wish-list">
                    <span class="panel-icon wish-icon"></span>
                    <a href="" class="panel-btn wish-list-btn">Wish List</a>
                </div>
                <div class="scroll-element discounts">
                    <span class="panel-icon discounts-icon"></span>
                    <a href="" class="panel-btn discounts-btn">Discounts</a>
                </div>
                <div class="scroll-element security">
                    <span class="panel-icon security-icon"></span>
                    <a href="" class="panel-btn security-btn">Security & access</a>
                </div>
                <div class="scroll-element notification">
                    <span class="panel-icon notification-icon"></span>
                    <a href="" class="panel-btn notification-btn">Notification</a>
                </div>
                <div class="scroll-element contact">
                    <span class="panel-icon contact-icon"></span>
                    <a href="" class="panel-btn contact-btn">Contact us</a>
                </div>
                <div class="scroll-element logout">
                    <span class="panel-icon logout-icon"></span>
                    <a href="" class="panel-btn logout-btn">Logout</a>
                </div>
            </div>

            <div class="view">
                <div class="scroll" data-bs-spy="scroll" data-bs-target="#scroll-spy" data-bs-offset="0"
                data-bs-smooth-scroll="true" tabindex="0">
                    <div id="personal-data" style="display:block;" th:if="${user != null}">
                        <h1>Identification</h1>
                        <p style="color: #717171; font-size: 16px; margin-bottom: 25px">Verify your identity</p>
                        <div class="edit">
                            <div id="edit-username" class="">
                                <label for="user-name" class="labels">Username</label>
                                <div id="user-name" class="edit-username">
                                    <span class="edit-username-icon"></span>
                                    <span class="edit-username-text" th:text="${user.username}"></span>
                                    <button type="button" class="btn edit-username-btn" id="editUsernameBtn" data-bs-toggle="modal" data-bs-target="#edit-username"></button>
                                </div>
                           </div>

                           <div id="edit-email" class="">
                               <label for="user-email" class="labels">E-mail Address</label>
                               <div id="user-email" class="edit-email">
                                   <span class="edit-email-icon"></span>
                                   <span class="edit-email-text" th:text="${user.email}">email</span>
                                   <button type="button" class="btn edit-email-btn" id="editEmailBtn" data-bs-toggle="modal" data-bs-target="#edit-email"></button>
                               </div>
                           </div>
                       </div>
                    </div>
                    <div id="payments" style="display:none;">
                        <h2>Payments</h2>
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolores dolorum ea eius enim, id illo maxime molestiae necessitatibus quasi sed, unde? Consequuntur ipsam magni, possimus provident quisquam sit tempora!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div th:replace="~{fragments/links::js}"></div>
    <script src="/js/personal-data.js"></script>
</body>
</html>